@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./fonts/NotoSans-Regular.woff2') format('woff2'),
        url('./fonts/NotoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    font-size: 1.5;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: calc(1ex / 0.32);
    font-family: 'Noto Sans';
}

body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(248, 246, 246);
}

aside {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 35%;
    background: center / cover no-repeat url(./img/bg-plant.jpg);
    overflow: hidden;
}

aside .logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 30%;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.450);

    & img {
        height: 7rem;
    }

    & span {
        font-family: Norse;
        font-size: 6rem;
        color: white;
    }
}

aside .img-credit {
    position: absolute;
    bottom: 0;
    margin: 1rem;
    text-align: center;
    font-size: small;
    color: white;

    & a:link {
        color: unset;
    }
}


main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    margin: 3rem;
    min-height: 380px;

    & p {
        max-width: 52ch;
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
}

.form-body {
    width: 100%;
    padding: 1rem 3rem 3rem 3rem;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.230);
}

.form-body > fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    row-gap: 1.5rem;
    column-gap: 5rem;
}

.form-body .form-control {
    display: flex;
    flex-direction: column;
    width: clamp(32%, 330px, 80%);

    & label {
        font-size: 0.9rem;
        font-weight: bold;
        color: rgb(95, 94, 94);
    }

    & input {
        height: 2.2rem;
        border: 2px solid #E5E7EB;
        border-radius: 5px;
        font-size: 1.2rem;
        padding: 0 10px;

        &:where(#password, #confirm):invalid {
            border: 2px solid red;
        }

        &:focus {
            border: 2px solid blue;
        }
    }
}

.form-body :has(input[required]:invalid) > label > span::after {
    content: '*';
    color: red;
}


.form-submit {
    min-height: 350px;
    padding: 3rem;

    & button {
        background: #596D48;
        padding: 1em 3em;
        border: none;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
        cursor: pointer;
    }

    & p {
        margin: 1.5rem 0;
        font-weight: 600;

        & a {
            color: #596D48;
            text-decoration: none;
        }
    }
}